header {
    display: flex;
    align-items: center; 
    justify-content: space-betweem;
    color:white;
    background-color: #0A437C;
    padding: 10px 30px;
    width: 10000%;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: white; 
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: white; 
}


nav {
    display: flex;
    align-items: center;
    background-color: #0A437C;
    padding: 10px 20px;
    justify-content: center; /* center the nav items */
}

.logo img {
    width: 100px; 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px; /* space between links */
    margin: 0;
    padding 0; 
}

nav ul {
    list-style: none; 
    display: flex;   
    margin: 0;        
    padding: 0;       
    gap: 20px;        
}

nav ul li a {
    color: #FFFFFF ;      /* This is for the text color */
    font-family: 'Roboto', sans-serif; /* font style */
    font-size: 1rem;      /* font size */
    text-decoration: none; /* remove underline */
    padding: 5px 15px;
}

nav ul li a:hover {
    text-decoration: underline; /* optional hover effect */
    color: #F28B30:
}

.content {
    padding: 20px;
}
