body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center; 
    justify-content: center;
    color:white;
    background-color: #0A437C;
    padding: 10px 30px;
    box-sizing: border-box;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: white; 
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: white; 
}


nav {
    width: 100%;
    height: 125px;
    background-color: #0A437C;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

ul {
    list-style: none;
    display: flex;
    margin-inline: auto auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex; 
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.logo{
    position: absolute;
    left: 2rem;
    
}

.logo img{
    width: 100px;
    height: auto;
}

.logo a{
    display : flex; 
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    
    
    
}

.nav-links li a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

.nav-links li a:hover {
    color: #F2C14E; 
    text-decoration: underline;
}

/*SEARCH BAR CSS*/

.search-bar {  /* Here is the search bar  */
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 20px; 
    right: 20px;
}

.search-bar input[type="text"] { /*here is the CSS for search input field */
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}   

.search-bar button { /*Here is the CSS for the search button */
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    background-color: #F2C14E;
    color: #0A437C;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover { /* Here is the hover effect for the search bars button */
    background-color: #d97706;
}

main img {
    max-width: 50%;
    align-content: left;
    height: auto;
    display: block;
    margin: 20px auto;
}


