body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color:white;
    background-color: #0A437C;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: white; 
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem; 
    color: white; 
}


nav {
    width: 100%;
    background-color: #0A437C;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.logo{
    position: absolute;
    left: 20px;
    margin-right: auto;
}

.logo img{
    width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: space-between;
    gap: 500px;
}

.nav-links li a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

.nav-links li a:hover {
    color: #F2C14E; 
    text-decoration: underline;
}


